<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    
    <module name="Рефлексия" file="src/Классы/Рефлексия.os"/>
    <class name="КонтейнерПакета" file="src/Классы/КонтейнерПакета.os"/>
    <class name="КонтекстПриложения" file="src/Классы/КонтекстПриложения.os"/>
    <class name="ОписаниеОбъекта" file="src/Классы/ОписаниеОбъекта.os"/>
    <class name="СканерПакетов" file="src/Классы/СканерПакетов.os"/>
    <class name="Приложение" file="src/Классы/Приложение.os"/> 
    
</package-def>